body {
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}
a,
a:hover,
a:visited {
  color: #0071bc;
}
#map {
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

#header {
  /* margin: auto; */
  /* padding: -2px; */
  width: 100%;
  position: relative;
  z-index: 5;
  background-color: #475561d8;
  /* border-bottom: #2e2f30; */
  /* border-style: solid;
  border-color: #f3a9cc;
  border-width: thick; */
}
#header h1,
#header h2,
#header p {
  margin: 0;
  padding: 2vh 2vw;
  text-align: center;
  color: #e9e9e9;
  font-family: helvetica;
  font-size: 13px;
  letter-spacing: 0.9px;
  /* text-shadow: 0.2px 0.2px 1px #fefdeff3; */
}
#footer {
  width: 100%;
  min-height: 5vh;
  background-color: rgba(151, 151, 151, 0.842);
  color: #333435;
  font-family: helvetica;
  /* padding-top: 2vh;
  padding-bottom: 2vh; */
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  position: relative;
  z-index: 5;
}
#features {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.hidden {
  visibility: hidden;
}
.centered {
  width: 50vw;
  margin: 0 auto;
}
.lefty {
  width: 33vw;
  margin-left: 5vw;
}
.righty {
  width: 33vw;
  margin-left: 62vw;
}
.fully {
  width: 100%;
  margin: auto;
}
.light {
  color: #444;
  background-color: #fafafa;
}
.dark {
  color: #fafafa;
  background-color: #444;
}

/* Chapters appearance whilst transisitioning between */
.step {
  padding-bottom: 45vh;
  margin-bottom: 10vh;
  opacity: 0.25;
}

/** Opacity of chapters whilst it is active */
.step.active {
  opacity: 0.9;
}

/** HEADINGS FOR CHAPTERS */
#features h3 {
  font-weight: 800;
  font-family: helvetica;
  color: #38393a;
  font-size: 16px;
  letter-spacing: 0.9px;
  background-color: #fefdeff3;
  /* border-radius: 2px; */
  padding: 5px;
  margin-bottom: 0px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: ;
  /* text-shadow: 0 0 1px #fefdef; */
}

#features p {
  font-size: 15px;
  font-family: helvetica;
  color: #333435;
  /* background-color: #fefdeff3; */
  /* margin: 0px; */
  padding: 5px;
  letter-spacing: 0.3px;
  font-weight: 500;
  margin: 2px 8px 4px;
}

.liberty {
  /* color: #3d3d3d; */
  background-color: #f3a9cc;
}

/* to change slides */
.step div {
  padding: 18px 0px 18px;
  line-height: 25px;
  border-radius: 8px;
}

/*** To change teh images within the chapters */
.step img {
  width: 100%;
  /* border-style: solid;
  border-width: 5px;
  border-color: #fefdeff3; */
}

@media (max-width: 750px) {
  .centered,
  .lefty,
  .righty,
  .fully {
    width: 90vw;
    margin: 0 auto;
  }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan
  .mapboxgl-canvas {
  touch-action: unset;
}
